@page
@model Shero.Pages.showUsersModel
@{}



<form method="post">

    <!DOCTYPE html>
    <html>
    <head>
        <title>HelloK Data Table</title>
    </head>
    <body>

        <div id="dataContainer">
            <table border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td>
                    
                        </td>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>

    </body>
</html>


</form>